<div class="container is-fluid">
<h1><%= @about.title %></h1>
  <div class="level-left is-size-6 box has-text-weight-semibold">
    <p><%= @about.content %></p>
  </div>
  <p>Last updated: <%= @about.updated_at %></p>
</div>