<% content_for :header do %>
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Find your instruments here on MusiXstore
      </h1>
    </div>
  </div>
</section>
<% end %>


 <div class="instrument-index-grid pt4 ">
    <%= render @instruments %>
</div>

